/*for full body*/

* {
  padding: 0;
  margin: 0;
}

/*Header Section Starts*/
#header {
  background-image: url(/image/1.jpeg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  height: 80vh;
}

.navbar-nav li a {
  color: #000 !important;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav li a:hover {
  color: rgb(11, 112, 245) !important;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.navbar-brand h4,
i {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-left: 50px;
  margin-bottom: 30px;
}

#header .fa {
  padding-left: 10px;
}

.navbar-brand i {
  color: #fff;
}

#header .navbar a .logo {
  color: #000;
  height: 20px;
  width: 100px;
}

nav .barss {
  color: #000;
  font-size: 30px;
  padding-right: 30px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

/*Header Section Ends*/

/*Welcome Section Starts*/

.welcome {
  padding: 80px 100px;
  margin-top: -210px;
  background-color: rgb(11, 112, 245) !important;
  color: aliceblue;
  font-size: 15px;
  box-shadow: 0 0 20px 7px rgb(0, 0, 0, 0.2);
}

.welcome .btn {
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
}

.welcome .btn:focus {
  box-shadow: none;
}

/*Welcome Section Ends*/

/*--------------------------------About Section Starts---------------------*/
#about {
  padding-top: 70px;
  padding-bottom: 100px;
}

#about img {
  margin-top: 28px;
}

#about .col-md-6 {
  padding: 20px 10px;
}

#about h3 {
  margin: 20px auto;
}

#about p {
  color: #000;
}

/*--------------------------------About Section Ends---------------------*/

/*--------------------------------Services Section Starts---------------------*/
#services img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
  outline: none !important;
}

#services h1 {
  color: #013f7e;
  padding-bottom: 10px;
}

#services {
  background-color: #efefef;
  padding-top: 80px;
  padding-bottom: 80px;
}

#services .col-md-4 {
  padding: 20px;
}

#services h4 {
  padding: 5px;
}

#services p {
  padding: 5px;
  color: #013f7e;
}

/*--------------------------------Services Section Ends---------------------*/
/*--------------------------------Feature Section Starts---------------------*/
#features {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/image/3.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#features img {
  outline: none !important;
  border: none;
}

#feature .col-md-6 {
  padding: 20px;
}

.feature-box {
  height: 120px;
  padding-bottom: 150px;
}

.feature-left {
  height: 120px;
  width: 20%;
  float: left;
}

.feature-left i {
  color: #fff;
  padding-left: 40px;
  padding-top: 13px;
  font-size: 30px;
}

.feature-right {
  height: 120px;
  width: 80%;
  padding-left: 20px;
  float: left;
}

.feature-right h4 {
  color: #fff;
  margin-bottom: 10px;
  padding-left: 15px;
  text-align: left;
  padding-top: 10px;
  font-size: 25px;
}

.feature-right p {
  color: rgb(244, 232, 248);
  padding-left: 15px;
  font-size: 15px;
  text-align: left;
}

/*--------------------------------Feature Section Ends---------------------*/
/*--------------------------------testimonials Section starts---------------------*/
#testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}

#testimonials h1 {
  color: #013f7e;
  margin-bottom: 20px;
}

#testimonials p {
  color: #013f7e;
}

#testimonials .col-md-4 {
  padding: 10px 30px;
}

.review {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  padding: 15px 15px 15px 30px;
  font-size: 15px;
  border-radius: 10px;
  float: left;
}

#testimonials img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: -40px;
  margin-bottom: 30px;
  border: 5px solid #fff;
}

.review i {
  color: #013f7e;
}

.review span {
  font-size: 18px;
  font-weight: 600;
  color: #013f7e;
}

/*--------------------------------Testimonials Section Ends---------------------*/

/*subscribe Starts*/

.subscribe {
  padding: 50px 20px;
  background-color: #013f7e;
  position: relative;
  box-shadow: 0 0 20px 7px rgb(0, 0, 0, 0.2);
  margin-bottom: -160px;
}

.subscribe h3,
p {
  color: #fff;
}

.subscribe .input-group {
  border-radius: 30px;
  background-color: #efefef;
  max-width: 500px;
  margin: 10px auto;
  padding: 5px;
}

.subscribe .form-control {
  border: none;
  background: transparent;
}

.subscribe .form-control:focus {
  box-shadow: none;
  background: transparent;
}

.subscribe .input-group-append {
  border-radius: 30px;
  background-image: linear-gradient(to right, #1c03b5, #5c8bef);
}

.subscribe .input-group-text {
  background: transparent;
  border: none;
  color: #fff;
}

.subscribe .btn:focus {
  box-shadow: none;
}

/*subscribe Ends*/

/*Footer Starts*/

#footer {
  margin-top: 80px;
  padding: 80px;
  background-image: linear-gradient(#2d557d, #9610fb);
}

#footer h3 {
  color: #ffff;
  text-align: left;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 15px;
}

#footer h1 {
  color: #fff;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

#footer p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

#footer .fa {
  padding-right: 10px;
  color: #fff;
  margin-left: 0;
  font-size: 15px;
  margin-bottom: 5px;
}

#footer hr {
  margin-top: 10px;
}

#footer span {
  padding-right: 5px;
}

#footer .copyright {

  margin-bottom: -30px;

}

/*Footer Ends*/